html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth !important;
  font-display:swap;
}

a {
  font-family: 'Press Start 2P'
  }
  p, h1, h2, h3 {
    font-family: 'Lexend', sans-serif;
  }


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav__link:hover{
  font-weight: bold;
 }
 
 button {
  font-family: 'Lexend'
 }