

.container {
  background-image: url("/iphone.svg");
  background-size: cover;
  height: 220rem;

}


 @media (min-width: 1000px) {
  .container {
    width: 100%;
      background-image: url("/morePink.svg");
      background-size: cover;
    }
 }


 .mobileNavBarIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

 .mobileNavBarLayout {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 4rem;
  padding-top:2rem;
  padding-left:2rem;
  padding-right:2rem;
 }

 .mobileNavBarLinkContainer {
  margin-top:3rem;
  height: 10rem;
  width:100%;
  background-color: #FFF6A5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
 }

 .mobileNavLink {
  padding: 1rem;
 }

 @media(min-width: 500px) {
  .mobileNavBar {
    display: none;
  }
 }

 .navBar {
  display: none;
 }

 @media(min-width: 768px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    font-size: 1.5rem;
    color: #FFF6A5;
  }
 }

.title {
    color: #EF83F8;
    font-size: "4rem";
}

.header {
  color: #EF83F8;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 8rem;
  margin-left: 3.5rem;
  position: relative;
  max-width: 90%;
}


.subheader {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 70%;
  margin-left: 3.5rem;
  /* margin-top: 8rem; */
}

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
