

.container {
  background-image: url("/iphone.svg");
  background-size: cover;
  height: 220rem;

}


 @media (min-width: 1000px) {
  .container {
    width: 100%;
      background-image: url("/morePink.svg");
      background-size: cover;
    }
 }


.header {
  color: #EF83F8;
  font-size: 2.5rem;
  text-align: left;
  margin-top: 8rem;
  margin-left: 3.5rem;
  position: relative;
  max-width: 90%;
}


.subheader {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 70%;
  margin-left: 3.5rem;
  /* margin-top: 8rem; */
}
/* 
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
