.teapot {
    background-image: url("/cat_background.svg");
    background-size: cover;
    height: 420px;
    box-shadow: 20px 20px 10px #F083F9;
}

.teapot p {
    color: #6900E9;
    background-color: #F0E4FF;
    padding: 1rem;
    border-radius: 9px;
}


.teapot button {
    background-color: #DAF58C;
    padding: 1rem;
    border-radius: 9px;
    width:100%;
    border: 3px solid black;
}

.teapot button:hover {
    background-color: #BDFF00;
}

.teapot a {
    font-size: 16px;
}

.comingSoon {
    background-image: url("/chessboard.svg");
    background-size: cover;
    height: 420px;
}

.comingSoon p {
    color: #474747;
    background-color: #E4E4E4;
    padding: 1rem;
    border-radius: 9px;
}

.comingSoon button {
        background-color: #DCDDD7;
        padding: 1rem;
        width: 192px;
        border-radius: 9px;
        padding-left:none;
        border: 3px solid #4B4B4B;
}

@media(min-width: 400px){
    .comingSoon button {
        width: 100%
    }
}

.teapot, .comingSoon {
    padding: 25px;
    height: 400px;
    width: 250px;
    border-radius: 9px;
    border: 4px solid black;
    margin-bottom: 4rem;
}


.logoImage {
    width: 190px;
    border-radius: 9px;
    border: 4px solid black;
}

@media(min-width: 400px){
    .logoImage {
        width: 100%;
    }
}

/** Desktop Teapot*/ 
@media(min-width: 400px){
    .teapot, .comingSoon {
        padding: 40px;
        height: 450px;
        width: 320px;
        border-radius: 9px;
        border: 4px solid black;
        margin-bottom: none;
    }
}

